/* input */

input {
  border-color: #E5E7EB;
}

input:invalid:required:focus {
  border-color: #E3242B;
}

input:focus:valid {
  border-color: #0B6623;
}

input:valid:required:focus {
  border: 1px solid #0B6623;
}

@media only screen and (min-width: 1001px) {
  /* custom font face */

  @font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  /* padding and margin reset */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    border-style: solid;
    min-width: 100vh;
    overflow-x: hidden;
    color: black;
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
  }

  /* left main section */
  #left-section {
    background: url("../images/tree_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 132dvh;
    position: relative;
    border: 2px solid #596d48;
  }

  .dark-bg {
    height: 15vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 25dvh;
  }

  .image-container {
    width: 20%;
    padding: 1.3% 1%;
  }

  img {
    width: 100%;
  }

  .brand {
    font-family: "Norse-Bold", sans-serif;
    font-size: 6rem;
    color: #ffffff;
  }

  .copyright {
    position: absolute;
    color: #fff;
    bottom: 1rem;
    width: 100%;
    font-size: .8rem;
    text-align: center;
  }

  .copyright>a {
    color: #ffffff;
  }

  /* right main section */
  #right-section {
    background-color: #fff;
    color: black;
    height: 132dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1.1fr 1.4fr;
  }

  /*  header section < right section */
  .header-section {
    background-color: #F9FAFB;
    height: 30ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 0 0 2rem;
  }

  .header-section>p {
    width: clamp(45ch, 50%, 75ch);
    font-size: 1.5rem;
    font-weight: bold;
  }

  .fieldset-section {
    height: 35ch;
    padding: 2ch 0;
    border: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(38ch, 45ch));
    gap: 2ch;
    padding: 0 0 0 2rem;
  }

  .title {
    grid-column: span 2;
    margin-top: 1ch;
  }

  .fieldset-section>div {
    height: 8ch;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .9fr 1fr .5fr;
    padding: 1ch 0;
    margin: -3px 5ch 0 0;
  }

  .fieldset-section input {
    height: 4ch;
    border-radius: 4px;
    padding-left: 2px;
  }

  div>span {
    font-size: .5rem;
  }

  /*  submit section */
  .submit-section {
    background-color: #F9FAFB;
    height: 33ch;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding: 0 0 0 2rem;
    border: none;
    box-shadow: 8px 0 7px rgba(0, 0, 0, .4888);
  }

  .submit-section> :first-child {
    cursor: pointer;
    margin-top: 3rem;
    width: 24ch;
    height: 5ch;
    color: #fff;
    background-color: #596D48;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: .9rem;
    font-weight: bold;
  }

  .submit-section> :last-child {
    font-size: 1.1rem;
  }

  .submit-section> :last-child>a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: #2f2e41;
    overflow-x: hidden;
  }

  .fieldset-section,
  .submit-section {
    border: none;
  }

  .copyright {
    display: none;
  }

  label {
    color: #418a53;
  }

  .submit-section a {
    color: #418a53;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }

  /*
* left section
*/

  #left-section {
    width: 100vw;
    height: 70vh;
    background: url("../images/mobile.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #596d48;
  }

  .dark-bg {
    display: none;
  }

  /*
* right section
*/

  #right-section {
    width: 150vw;
    height: 100dvh;
    color: #fff;
  }

  .header-section {
    max-width: clamp(30ch, 45%, 75ch);
    font-size: 1.2em;
    line-height: 2;
    font-weight: bold;
    padding: 7vw 3vw;
    margin: 0 0 5rem 2rem;
    color: #fff;
  }

  .header-section :first-child {
    margin-bottom: 4vh;
  }

  /*
* form section
*/

  .form-section {
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fieldset-section {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .form {
    max-width: 85vw;
    min-height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.3rem;
  }

  .form span {
    display: block;
    width: 100%;
    height: 30px;
    padding: 15px 0;
    font-size: 0.8rem;
  }

  /*
* input
*/

  input {
    margin-top: 1rem;
    height: 2rem;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(47, 46, 65, 0.2);
  }

  /*
* submit section
*/

  .submit-section {
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .submit-section>button[type="submit"] {
    cursor: pointer;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #596d48;
    color: #fff;
    border: none;
    width: 40vw;
    height: 6vh;
  }

  #right-section {
    margin-left: -1rem;
  }
}

@media only screen and (max-width: 320px) {
  body {
    margin-left: -1px;
    font-size: .7rem;
  }
 
  .header-section {
    padding-left: 0;
  }

  .header-section > p {
    margin: 0 2vw 0 0;
  }

  .form span {
    font-size: .5rem;
    margin-top: -.3rem;
  }

  .submit-section {
    margin-top: 15vh;
  }
}
